<a href="https://colab.research.google.com/github/Ratnesh-bhosale/Book-Recommendation-using-KNN/blob/main/Book_Recommendation_using_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Load Libraries**

In [1]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

### **Load Dataset**

In [2]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2021-07-05 20:59:51--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.2.33, 104.26.3.33, 172.67.70.149, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.2.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M  --.-KB/s    in 0.1s

2021-07-05 20:59:51 (187 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [3]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [4]:
df_books.head()

         isbn  ...                author
0  0195153448  ...    Mark P. O. Morford
1  0002005018  ...  Richard Bruce Wright
2  0060973129  ...          Carlo D'Este
3  0374157065  ...      Gina Bari Kolata
4  0393045218  ...       E. J. W. Barber

[5 rows x 3 columns]

In [5]:
df_ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

### **Preprocessing**

In [6]:
df_books.isnull().sum()

isbn      0
title     0
author    1
dtype: int64

In [7]:
df_books.dropna(inplace=True) # Droped rows having null author

In [8]:
df_books.isnull().sum()

isbn      0
title     0
author    0
dtype: int64

In [9]:
df_ratings.isnull().sum()

user      0
isbn      0
rating    0
dtype: int64

In [10]:
df_ratings.shape

(1149780, 3)

In [12]:
ratings = df_ratings['user'].value_counts()  #counted counts of ratings by users
ratings.sort_values(ascending=False)

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
18121         1
20168         1
16070         1
7874          1
223598        1
Name: user, Length: 105283, dtype: int64

In [22]:
len(ratings[ratings < 200])

104378

In [14]:
df_ratings['user'].isin(ratings[ratings < 200].index).sum()

622224

In [27]:
df_ratings_rm = df_ratings[~df_ratings['user'].isin(ratings[ratings < 200].index)] # Remove users with less than 200 ratings

In [28]:
df_ratings_rm.shape

(527556, 3)

In [31]:
ratings = df_ratings['isbn'].value_counts() 
ratings.sort_values(ascending=False).head()

0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
Name: isbn, dtype: int64

In [32]:
len(ratings[ratings < 100]) #having less than 100 ratings

339825

In [33]:
df_books['isbn'].isin(ratings[ratings < 100].index).sum()

269442

In [34]:
df_ratings_rm = df_ratings_rm[~df_ratings_rm['isbn'].isin(ratings[ratings < 100].index)]

In [35]:
df_ratings_rm.shape

(49781, 3)

In [36]:
books = ["Where the Heart Is (Oprah's Book Club (Paperback))",
        "I'll Be Seeing You",
        "The Weight of Water",
        "The Surgeon",
        "I Know This Much Is True"]

for book in books:
  print(df_ratings_rm.isbn.isin(df_books[df_books.title == book].isbn).sum())

183
75
49
57
77

### **Dataset for KNN**

In [38]:
df = df_ratings_rm.pivot_table(index=['user'],columns=['isbn'],values='rating').fillna(0).T
df

user        254     2276    2766    2977    ...  277427  277478  277639  278418
isbn                                        ...
002542730X     0.0     0.0     0.0     0.0  ...    10.0     0.0     0.0     0.0
0060008032     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
0060096195     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
006016848X     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
0060173289     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
...            ...     ...     ...     ...  ...     ...     ...     ...     ...
1573227331     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1573229326     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1573229571     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1592400876     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1878424319     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[731 rows x 888 columns]

In [39]:
df.index = df.join(df_books.set_index('isbn'))['title']

In [45]:
df = df.sort_index()
df[:10]

user                                                254     ...  278418
title                                                       ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0
A Bend in the Road                                     0.0  ...     0.0
A Case of Need                                         0.0  ...     0.0
A Child Called \It\": One Child's Courage to Su...     0.0  ...     0.0

[10 rows x 888 columns]

In [41]:
df.loc["To Kill a Mockingbird"][:5]

user
254      0.0
2276     0.0
2766    10.0
2977     0.0
3363     0.0
Name: To Kill a Mockingbird, dtype: float32

### **Model Formation**

In [42]:
model = NearestNeighbors(metric='cosine')
model.fit(df.values)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [46]:
df.iloc[0].shape

(888,)

In [47]:
title = 'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash'
df.loc[title].shape

(888,)

In [49]:
distance, indice = model.kneighbors([df.loc[title].values], n_neighbors=5)

print(distance)
print(indice)

[[0.         0.73148084 0.8097244  0.8249857  0.83175725]]
[[658 688 282 660 267]]

In [50]:
df.iloc[indice[0]].index.values

array(['The Ugly Duckling', 'Turtle Moon', 'Jackdaws',
       'The Vampire Lestat (Vampire Chronicles, Book II)',
       'In Her Shoes : A Novel'], dtype=object)

In [51]:
pd.DataFrame({
    'title'   : df.iloc[indice[0]].index.values,
    'distance': distance[0]
}) \
.sort_values(by='distance', ascending=False)

                                              title  distance
4                            In Her Shoes : A Novel  0.831757
3  The Vampire Lestat (Vampire Chronicles, Book II)  0.824986
2                                          Jackdaws  0.809724
1                                       Turtle Moon  0.731481
0                                 The Ugly Duckling  0.000000

In [52]:
# function to return recommended books - this will be tested
def get_recommends(title = ""):
  try:
    book = df.loc[title]
  except KeyError as e:
    print('The given book', e, 'does not exist')
    return

  distance, indice = model.kneighbors([book.values], n_neighbors=6)

  recommended_books = pd.DataFrame({
      'title'   : df.iloc[indice[0]].index.values,
      'distance': distance[0]
    }) \
    .sort_values(by='distance', ascending=False) \
    .head(5).values

  return [title, recommended_books]

In [56]:
get_recommends("A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash")

['A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
 array([['Fahrenheit 451', 0.8333749771118164],
        ['In Her Shoes : A Novel', 0.8317572474479675],
        ['The Vampire Lestat (Vampire Chronicles, Book II)',
         0.824985682964325],
        ['Jackdaws', 0.8097243905067444],
        ['Turtle Moon', 0.7314808368682861]], dtype=object)]

In [63]:
book = input("Print the name of a book you have read: ")
print("\n")
print(get_recommends(book))

Print the name of a book you have read: Fahrenheit 451


['Fahrenheit 451', array([['F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
        0.8325227499008179],
       ['Disclosure', 0.8273947238922119],
       ["The Lost Boy: A Foster Child's Search for the Love of a Family",
        0.8180789947509766],
       ['The Surgeon', 0.815474271774292],
       ['A Civil Action', 0.8153814077377319]], dtype=object)]